<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>36C28AB5-6566-4C50-9EBD-CBB920F83843</key>
		<dict>
			<key>preferred-count</key>
			<integer>0</integer>
		</dict>
		<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
		<dict>
			<key>LocationServicesEnabled</key>
			<data>
			AQ==
			</data>
			<key>SystemAudioVolume</key>
			<data>
			Rg==
			</data>
			<key>bluetoothActiveControllerInfo</key>
			<data>
			yxcFCwAAAAAgWlzzcJphMA==
			</data>
			<key>boot-args</key>
			<string>-v keepsyms=1 debug=0x100 alcid=1</string>
			<key>csr-active-config</key>
			<data>
			/wcAAA==
			</data>
			<key>fmm-computer-name</key>
			<data>
			Ym9ubGFua3PigJlzIE1hYyBQcm8=
			</data>
			<key>fmm-mobileme-token-FMM</key>
			<data>
			YnBsaXN0MDDdAQIDBAUGBwgJCgsMDQ4PFhcOGA4ZGhscHR9fEA91
			bnJlZ2lzdGVyU3RhdGVYdXNlckluZm9ZYXV0aFRva2VuXnJvb3RW
			b2x1bWVVVUlEXmRpc2FibGVDb250ZXh0VnVzZXJpZF1lbmFibGVD
			b250ZXh0WHVzZXJuYW1lWHBlcnNvbklEVGd1aWRXYWRkVGltZV8Q
			EmVuYWJsZWREYXRhY2xhc3Nlc18QE2RhdGFjbGFzc1Byb3BlcnRp
			ZXMQANMQERITFBVfEBVJblVzZU93bmVyRGlzcGxheU5hbWVfEBNJ
			blVzZU93bmVyRmlyc3ROYW1lXxASSW5Vc2VPd25lckxhc3ROYW1l
			UFVHYXJyeVVMaWFuZ18QzEVBQVVBQUFBQkx3SUFBQUFBR0J6UHlJ
			UkRtZHpMbWxqYkc5MVpDNWhkWFJvdlFBaDVNWEJIbGY1UlpvbTNM
			U0RMN1ZZUlMtMmExSWJOcmFQU0lOSU9PcE5hel94bUg2TUlxS09D
			bDBsVEJlNms3SUV5WFB3Rk5NcUdjZkVMMlBSbXZ3Uk81Mnd6djZr
			OExRZE9ZMWJFNFVCX2tycWlOLWN6MzVxdWI4d3ZuRl9nMVFpUkhk
			UWItRjFuZlZWWkVYamRkQUVCRUVhNFF+fl8QJDU4QzEyODFGLTUx
			RjMtNDZDQy1BNjdDLTMzOEE3MkEzMUIzMREB9V8QFWdhcnJ5XzE4
			NEBob3RtYWlsLmNvbVoxODQyNDQxNjc1XxAkNEUwMjdFNjItRUNE
			QS00MzM2LUE1OEItOUREQTREM0I4MUYwI0HYHM/pjd/boR5fECFj
			b20uYXBwbGUuRGF0YWNsYXNzLkRldmljZUxvY2F0b3LRHiDVISIj
			JCUmJygpKlZhcHNFbnZYaG9zdG5hbWVdaWRzSWRlbnRpZmllclZz
			Y2hlbWVdYXV0aE1lY2hhbmlzbVpwcm9kdWN0aW9uXxATcDIxLWZt
			aXAuaWNsb3VkLmNvbV8QJDJGQkU4NkVDLUJERjQtNEJEMC1CMDAy
			LTJBQkVDMzk0QzYxOVVodHRwc1V0b2tlbgAIACMANQA+AEgAVwBm
			AG0AewCEAI0AkgCaAK8AxQDHAM4A5gD8AREBEgEYAR4B7QIUAhcC
			LwI6AmECagJsApACkwKeAqUCrgK8AsMC0QLcAvIDGQMfAAAAAAAA
			AgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAAAyU=
			</data>
			<key>fmm-mobileme-token-FMM-BridgeHasAccount</key>
			<data>
			QnJpZGdlSGFzQWNjb3VudFZhbHVl
			</data>
			<key>msu-product-url</key>
			<data>
			bXN1LXByb2R1Y3QtdXJsOi8vQkQ4QUIxMTctNDIyQS00N0JELTkw
			MTgtQkVGMERBMjA0MEJGL21hY09TJTIwSW5zdGFsbCUyMERhdGE=
			</data>
			<key>prev-lang:kbd</key>
			<data>
			ZW46Mjk=
			</data>
			<key>run-efi-updater</key>
			<data>
			Tm8A
			</data>
		</dict>
		<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
		<dict/>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
